/*--General Styles--*/

body {
  font-family: 'Merriweather', serif;
  background-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 20px 200px 50px;
  font-size: 18px;
  line-height: 30px;
}

ul {
  margin: 20px 250px 50px;
  font-size: 18px;
  line-height: 30px;
}

ol {
  margin: 20px 250px 50px;
  font-size: 18px;
  line-height: 30px;
}

h1 {
  letter-spacing: 1px;
}

span {
  text-align: center;
}



/*--Top Bar--*/

.header {
  text-align: left;
  background: #001478;
  color: white;
  font-size: 30px;
  height: 170px;
  position: relative;
}


.name {
  max-height: 150px;
  padding: 15px;
  max-width: 58%;
  margin-left: -50px
}

.topnav {
  margin-right: 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
}

.topnav a {
  float: right;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
}

.dropdown {
  float: right;
  overflow: hidden;
  text-transform: uppercase;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 15px 25px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  text-transform: uppercase;
}

.dropbtn:hover {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #820707;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid black;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}




/*--Content and Typography--*/

.page-title {
  text-align: center;
  margin: 30px;
}

.section-title {
  margin: 50px 200px 0px;
}

.pullquote {
  text-align: center;
  display: inline-block;
  background-color: #820707;
  color: white;
  padding: 40px 20px;
  font-size: 40px;
  vertical-align: middle;
}




/*--Slider--*/

.slider {
  width: 100%;
}

.slider-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
}

.slide {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s linear;
}

.slider-wrapper>.slide:first-child {
  opacity: 1;
}

.text-block {
  position: absolute;
  bottom: 150px;
  background-color: hsla(0, 0%, 0%, 0.4);
  color: white;
  font-size: 65px;
  width: 750px;
  padding: 20px;
}

/*--Contact Form--*/

input[type=text], select, textarea {
  font-family: 'Merriweather', serif;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-family: 'Merriweather', serif;
  background: #820707;
  background: linear-gradient(to top, #820707, #CF0B0B);
  color: white;
  margin-top: 50px;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
   background: #0099FF;
  background: linear-gradient(to top, #0099FF, #38C3FF);
  text-shadow: 0px 0px 3px #001478;
}

.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 40px;
  margin: 80px;
}


.footer {
  background-color: #001478;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-center {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: .7px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #0099ff;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-left: 15px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-left {
  width: 30%;
}

.footer .footer-left i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-left i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-left p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-left p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-left p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

/*--button--*/

.testbutton {
  color: #FFFFFF !important;
  font-size: 50px;
  font-weight: normal;
  text-shadow: 0px 0px 3px #001478;
  padding: 10px 25px;
  border-radius: 12px;
  border: 2px solid #000C47;
  background: #0099FF;
  background: linear-gradient(to top, #0099FF, #38C3FF);
  max-width: 175px;
  margin-top: 50px;
  margin-left: 100px;
}
.testbutton:hover {
  color: #FFFFFF !important;
   background: #820707;
  background: linear-gradient(to top, #820707, #CF0B0B);
}